.contato{

    width:100%;

    padding:5rem 2rem;

    display:flex;

    flex-direction:column;

    align-items:center;

    gap:3rem;
}

.contato__titulo{

    text-align:center;
}

.contato__titulo h1{

    font-size:4rem;

    color:#00d2ff;

    margin-bottom:1rem;
}

.contato__titulo p{

    color:#ffffff;
}

.contato__formulario{

    width:100%;
    max-width:600px;

    background:#081528;

    border:1px solid #00d2ff;

    border-radius:2rem;

    padding:3rem;
}

.contato__formulario form{

    display:flex;

    flex-direction:column;

    gap:2rem;
}

.grupo-campo{

    display:flex;

    flex-direction:column;

    gap:.8rem;
}

.grupo-campo label{

    color:#ffffff;
}

.grupo-campo input,
.grupo-campo select,
.grupo-campo textarea{

    padding:1.2rem;

    border:1px solid #334155;

    border-radius:.8rem;

    background:#0b1d38;

    color:#ffffff;
}

input:valid,
textarea:valid{

    border:2px solid #046104;
}

input:invalid,
textarea:invalid{

    border:1px solid #e28484;
}

.btn-principal{

    padding:1.5rem;

    border:none;

    border-radius:1rem;

    background:#00d2ff;

    color:#000;

    font-weight:bold;

    cursor:pointer;
}

.btn-principal:hover{

    background:#32c7f0;
}

@media (min-width:320px) and (max-width:425px){

    .contato__titulo h1{

        font-size:3rem;
    }

    .contato__formulario{

        padding:2rem;
    }

}

.sos-btn{

    position:fixed;

    bottom:25px;

    left:25px;

    width:70px;

    height:70px;

    border:none;

    border-radius:50%;

    background:#ff3333;

    color:white;

    font-size:2rem;

    cursor:pointer;

    z-index:9999;

}

.sos-modal{

    display:none;

    position:fixed;

    top:0;
    left:0;

    width:100%;
    height:100%;

    background:rgba(0,0,0,.8);

    justify-content:center;

    align-items:center;

    z-index:10000;

}

.sos-conteudo{

    width:400px;

    background:#07142e;

    padding:30px;

    border-radius:20px;

    display:flex;

    flex-direction:column;

    gap:15px;

}

.sos-conteudo input,
.sos-conteudo textarea{

    padding:12px;

}

.sos-enviar{

    background:#00cfff;

    border:none;

    padding:12px;

    cursor:pointer;

}

.sos-fechar{

    background:#ff3333;

    border:none;

    padding:12px;

    color:white;

    cursor:pointer;

}